@mixin config-color($bg, $fg) {
    background-color: $bg;
    color: $fg;
    a { border-bottom: 1px dotted $fg; }
    a:hover { border-bottom: 1px solid $fg; }
}

*:focus {
    outline: 2px solid $color-alert;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    @include rhythm-config-line-height;
    background-color: $bg-outer;
    font-family: Lexend-Regular, serif;
}

div#content {
    flex: 1;
    overflow-y: auto;
    position: relative;
    @include rhythm-config-all-headings;
    @include rhythm-config-blocks;
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 rhythm-height-of-lines(2);
    @include config-color($bg-content, $fg-content);
    blockquote { padding: 0 rhythm-height-of-lines(2); font-size: 90%; }
    em, i { font-style: italic; }
    strong, b { font-weight: bold; }
    pre, code { font-family: monospace; }
    sup {
        vertical-align: baseline;
        position: relative;
        top: rhythm-height-of-lines(-0.2);
        line-height: 0;
        font-size: 90%;
    }
    $bullet-width: 1em;
    li { padding-left: $bullet-width; }
    li::before {
        content: "•";
        display: inline-block;
        width: $bullet-width;
        margin-left: -$bullet-width;
    }
}

div#postamble {
    display: flex;
    height: rhythm-height-of-lines(3);
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    @include config-color($bg-outer, $fg-outer);
    ul {
        display: flex;
        li:not(:last-child):after { content: "|"; margin: 0 0.5em; }
    }
}
